@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 38 29% 95%;
        --foreground: 220 23% 5%;

        --card: 0 0% 100%;
        --card-foreground: 220 23% 5%;

        --popover: 0 0% 100%;
        --popover-foreground: 220 23% 5%;

        --primary: 21 82% 51%;
        --primary-foreground: 0 0% 98%;

        --secondary: 224 21% 21%;
        --secondary-foreground: 0 0% 98%;

        --muted: 38 20% 90%;
        --muted-foreground: 224 21% 40%;

        --accent: 39 56% 51%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 38 20% 85%;
        --input: 38 20% 85%;
        --ring: 21 82% 51%;

        --radius: 1.25rem;
    }

    .dark {
        --background: 220 23% 5%;
        --foreground: 38 29% 95%;

        --card: 224 21% 15%;
        --card-foreground: 38 29% 95%;

        --popover: 224 21% 15%;
        --popover-foreground: 38 29% 95%;

        --primary: 21 82% 51%;
        --primary-foreground: 0 0% 98%;

        --secondary: 224 21% 21%;
        --secondary-foreground: 38 29% 95%;

        --muted: 224 21% 15%;
        --muted-foreground: 38 20% 70%;

        --accent: 39 56% 51%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 38 29% 95%;

        --border: 224 21% 21%;
        --input: 224 21% 21%;
        --ring: 21 82% 51%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E2E8F0;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #CBD5E1;
}

/* Prevent iOS auto-zoom on form controls */
@media screen and (max-width: 767px) {
    input, select, textarea {
        font-size: 16px !important;
    }
}